*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

body {
    font-family: 'inter', sans-serif;
    background-image: url('/assests/images/background.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 128px;
    background: rgba(54, 55, 63, 0.37);
    width: 939px;
    height: 130px;
    flex-shrink: 0;
    margin-top: 116px;
    margin-left: auto;
    margin-right: auto;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 110px;
    }

nav ul li a, 
nav ul li a:link, 
nav ul li a:visited, 
nav ul li a:hover, 
nav ul li a:active, 
nav ul li a:focus {
        color:rgb(71, 153, 189); 
}
nav ul li a:hover {
    color:rgb(0, 238, 255); 
    transform: scale(1.1); 
    transition: color 0.5s ease, transform 0.5s ease; 
}

nav ul li{
    width: 138px;
    height: 58px;
    flex-shrink: 0;   
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 -10px;
}

/* logo */

nav .Logo {  
    width: 151px;
    height: 171px;
    flex-shrink: 0;
    object-fit: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
}
/* *************Main********************* */
.tool-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px; 
    margin-top: 10%;
    margin-bottom: 10%; 
}

.image-container {
    transition: transform 0.3s ease;
}

.image-container img {
    width: 200px; 
    height: auto;
    }

.image-container:hover {
    transform: scale(1.2); 
}

/* *************Footer********************* */
footer {
    background: rgba(54, 55, 63, 0.37);
    text-align: center; 
    padding: 20px; 
    color: rgb(71, 153, 189); 
}

footer p {
    margin: 10px 0; 
}



