*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

body {
    font-family: 'inter', sans-serif;
    background-color: rgb(4, 19, 88);
}

/* *************nav********************* */
nav ul li a, 
nav ul li a:link, 
nav ul li a:visited, 
nav ul li a:hover, 
nav ul li a:active, 
nav ul li a:focus {
    color:rgb(113, 201, 204); 
}
nav ul li a:hover {
    color:aqua; 
    transform: scale(1.1); 
    transition: color 0.5s ease, transform 0.5s ease; 
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 128px;
    background: rgba(70, 149, 202, 0.37);
    width: 939px;
    height: 130px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 110px;
    }

nav ul li{
    width: 138px;
    height: 58px;
    flex-shrink: 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 -10px;
}

/* logo */

nav .Logo{  
    width: 151px;
    height: 171px;
    flex-shrink: 0;
    object-fit: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ************************************** */
/* *************main********************* */

main{
    
    flex-direction: column;
    width: 939px;
    height: 700px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;          
 }
 
main img{
    float: right;
    width: 30%; 
    height: auto;
}

.contact-link {
    display: flex; 
    align-items: center;
    margin: 10px; 
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.contact-link img {
    width: 100px; 
    height: auto;
    margin-right: 15px;
}

.contact-link:hover, 
.contact-link:focus {
    transform: scale(1.1); 
    opacity: 0.7;
    text-decoration: none 
}
.contact-link, 
.contact-link:visited, 
.contact-link:active {
    color: rgb(113, 201, 204); 
    text-decoration: none; 
}

/* *************Footer********************* */
footer {
    text-align: center; 
    padding: 20px; 
    color: rgb(113, 201, 204); 
}

footer p {
    margin: 10px 0; 
}


